<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CRUD Users</title>

	<style>
		nav{
			display: table;
			width: 100%;
			clear: both;
			margin: 25px;
		}
		nav li{
			float: left;
			list-style-type: none;
		}
		nav li a{
			padding: 10px 20px;
		}
		.changeName:focus,
		.changeAge:focus,
		.changeJob:focus{
			font-size: 20px;
			outline: 2px solid green;
			padding: 5px 10px;
		}
		#addUser{
			display: none;
		}
		.mx-app_wrap #addUser{
			display: block;
		}
	</style>
</head>
<body>

<nav>
	<ul>
		<li>
			<a href="#listUsers">Список пользователей</a>
		</li>
		<li>
			<a href="#editUser">Редактировать данные</a>
		</li>
		<li>
			<a href="#addUser">Добавить пользователя</a>
		</li>
		<li>
			<a href="#deleteUser">Удалить данные</a>
		</li>
	</ul>
</nav>

<div class="mx-app_wrap"></div>

<form action="/" id="addUser">
	<input type="text" id="userName" placeholder="Имя" />
	<input type="text" id="userAge" placeholder="Возраст" />
	<input type="text" id="userJob" placeholder="Работа" />
	<input type="submit" value="Добавить пользователя">
</form>

<!-- JS -->
<script src="add/jquery-3.2.0.js"></script>	
<script src="add/underscore.js"></script>
<script src="add/backbone.js"></script>

<!-- ********************* Templates ************************* -->
<!-- *                                                       * -->
<!-- *                                                       * -->
	<!-- deletePage -->
	<script type="text/template" id="templateListUsers">
		<span><u><%= name %></u> </span>
		(<span><%= age %></span>)
		<span> <%= job %> </span>
	</script>

	<!-- editPage -->
	<script type="text/template" id="templateEditUsers">
		<span><u class="changeName"><%= name %></u> </span>
		(<span class="changeAge"><%= age %></span>)
		<span class="changeJob"> <%= job %> </span>
	</script>

	<!-- deletePage -->
	<script type="text/template" id="templateDeleteUsers">
		<span><u><%= name %></u> </span>
		(<span><%= age %></span>)
		<span> <%= job %> </span><button id="deleteUser">Delete</button>
	</script>

	<!-- addPage -->
	<script type="text/template" id="templateAddUsers">
		<span><u><%= name %></u> </span>
		(<span><%= age %></span>)
		<span> <%= job %> </span>
	</script>

<!-- *                                                       * -->
<!-- *                                                       * -->
<!-- ********************* Templates ************************* -->

<!-- My API -->
<script src="js/main.js"></script>
<script src="js/Models.js"></script>
<script src="js/Views.js"></script>
<script src="js/Collections.js"></script>
<script src="js/Routers.js"></script>
<script src="js/Init.js"></script>
	
</body>
</html>